/target/
/bin/
/FilesWithDates/
/bugzilla/
/bugzillaFilesWithDates/
/commits/
/filenames/
/gitlab/
/gitlab_with_comments/
/output/
*.json
*.csv
*.txt
/process_metrics/
/selected_commits/
/sourceCodeMetrics/
/temp_repos_process/
/backup_repo_files/
/.classpath
/.project
/MultiExtractor/.settings
/.idea/
